@font-face {
    font-family: 'inter';
    src: URL('inter.ttf') format('truetype');
}

:root {
    --dark-purple: rgb(30, 11, 32);
}

* {
    font-family: 'inter';
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-weight: 400;
}

html {
    overflow-x: hidden;
    background: var(--dark-purple);
}

body {
    width: 100vw;
    height: 100vh;
}

.div_head {
    width: 100%;
    background: rgb(20, 8, 22);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100000;
    box-shadow: rgba(0, 0, 0, 0.452) 10px 10px 50px;
    flex-direction: row;
}

.div_body {
    top: 15%;
    min-height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5vh 5vw;
}

.div_bodycontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.div_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    position: fixed;
    max-width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.342);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.a_change_state {
    color: white;
    cursor: pointer;
}

.div_change_state {
    color: white;
    padding: 15px 10px;
}

.disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.137);
}

.searchbutton {
    margin-left: -5px;
    padding: 10px 10px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.664);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.searchbutton:hover {
    background: white;
    transition: ease-in-out 0.3s;
}

.searchbar {
    border: none;
    border-radius: 10px 0px 0px 10px;
    background: rgba(255, 255, 255, 0.315);
    outline: none;
    padding: 10px 10px;
}

.searchbar::placeholder {
    color: rgba(0, 0, 0, 0.541);
    opacity: 1;
}

.searchbar:focus {
    background: rgba(255, 255, 255, 0.459);
}

.div_login {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logininput {
    margin: 10px;
    border: rgba(255, 255, 255, 0.548) solid 0px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.315);
    outline: none;
    padding: 5px 5px;
}

.logininput::placeholder {
    color: rgba(0, 0, 0, 0.541);
    opacity: 1;
}

.logininput:focus {
    background: rgba(255, 255, 255, 0.459);
}

.loginbutton {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.664);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.loginbutton:hover {
    background: white;
    transition: ease-in-out 0.3s;
}

.logo {
    color: rgb(250, 255, 231);
    font-size: 3rem;
    text-decoration: none;
    font-weight: 500;
}

.div_selectserver {
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: rgba(255, 255, 255, 0) solid 1px;
}

.p_selectserver_title {
    font-size: 1.3rem;
}

.p_selectserver_url {
    background: rgba(255, 255, 255, 0.733);
    margin: 5px 5px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.p_selectserver_url:hover {
    background: rgba(255, 255, 255, 0.904);
}

.p_popup_title {
    font-size: 2.5rem;
    margin: 10px;
    font-weight: 500;
}

.div_mediaCard {
    margin: 15px 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(300px + 10vw);
    background: rgba(255, 255, 255, 0.342);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.div_mediaCard_upper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: transparent;
    width: 100%;
}

.div_mediaCard_Info {
    background: transparent;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.div_mediaCard_Title {
    width: 100%;
    background: transparent;
    padding: 5px 0px 5px;
}

.p_mediaCard_Title {
    font-size: 1.4rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div_mediaCard_Info_General {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
}

.p_mediaCard_Info_General {
    font-size: 0.7rem;
    width: 100%;
    background: transparent;
    color: rgba(0, 0, 0, 0.658);
    font-weight: 500;
}

.div_mediaCard_Info_lower {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
}

.div_mediaCard_Info_lower_Specific {
    display: flex;
    flex-direction: row;
    width: 70%;
    background: transparent;
    overflow: scroll;
}

.div_mediaCard_Info_lower_rating {
    width: 30%;
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div_mediaCard_Info_lower_rating_inner {
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_mediaCard_Info_lower_rating {
    font-weight: 500;
    font-size: 1.6rem;
}

.good {
    color: rgb(123, 255, 123);
}

.okay {
    color: rgb(255, 255, 122);
}

.bad {
    color: rgb(255, 201, 100);
}

.worst {
    color: rgb(255, 84, 84);
}

.img_mediaCard_Image {
    width: 100px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 0px 10px;
}

.div_mediaCard_Info_lower_Specific_under {
    margin: 10px 5px;
    padding: 5px 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.a_mediaCard_Info_lower_Specific {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-weight: 500;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

::-webkit-scrollbar-corner {
    background-color: rgba(red, green, blue, 0);
}

.div_mediaCard_lower_summary {
    height: calc(80px + 5vh);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.div_mediaCard_lower_summary::-webkit-scrollbar {
    display: none;
}

.p_mediaCard_lower_summary {
    font-size: 0.9;
}

.input_download_section_inner {
    background: rgba(255, 255, 255, 0.377);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 20px;
}

.closebutton {
    font-weight: bolder;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.div_message {
    position: fixed;
    background: whitesmoke;
    left: 20px;
    bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 900px;
    box-shadow: black 0px 0px 20px;
    display: none;
}

.a_mediaSelector {
    cursor: pointer;
}

.downloadbutton {
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.664);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.downloadbutton:hover {
    background: white;
    transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 600px) {
    .div_head {
        flex-direction: column;
    }
}
